body{
	text-align:center;
}

table, th, td {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) {background-color: #dbd7d2;}
tbody tr:hover{background-color: #90ee90;} 

td.invariant{
	width: 60px;
}

td.name, td.hname{
	width: 120px;
}

td.comment{
	width: 180px;
}

.metadata-button{
	background-color: #0095ff;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 80%;
	margin: 0;
	outline: none;
	padding: 8px .8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.metadata-button:hover,
.metadata-button:focus {
  background-color: #07c;
}

.metadata-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.metadata-button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.metadata{
 	color:gray;
	font-size: 50%;
	max-width: 50px;
}

.invariant-missing{
 	color:red;
}

/* Sortable tables */
table.sortable thead {
    background-color: darkgray;
    font-weight: bold;
    cursor: default;
}

