body{
	text-align:center;
}

table, th, td {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	margin-bottom:5px;
}
table {
	border: 2px solid #dbd7d2;
  	border-radius: 5px;
}

.table-metadata {
  	width:600px;
}

tr:nth-child(even) {background-color: #dbd7d2;}
tbody tr:hover{background-color: #90ee90;} 

td.invariant{
	width: 60px;
}

td.name, td.hname{
	width: 120px;
}

td.comment{
	width: 180px;
}

.metadata{
 	color:gray;
	font-size: 50%;
	max-width: 50px;
}

.invariant-missing{
 	color:red;
}

/* Sortable tables */
table.sortable thead {
    background-color: darkgray;
    font-weight: bold;
    cursor: default;
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align:center;
  vertical-align: middle;
}

#overlay_container{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 60%;
  height: 80%;
  max-width:1000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,1); 
  z-index:3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */\
  text-align:center;
  vertical-align: middle;
  margin: auto;
  overflow: scroll;
  margin-top:100px;
}
#overlay_container:hover{
	cursor: default;
}

